#wrapper {
    position: relative;
    overflow: hidden;
}

#simple-menu {
    position: absolute;
    top: 200px;
    right: 0px;
}

#set0 {
    position: absolute;
    width = 100%;
    height = 100%;
    
}

#studentProgress {
    position: absolute;
    top: 60px;
    left: -220px;
    width: 200px;
    height: 100%;
}

.setQ {
    display: block;
    position: relative;
    top: 190px;
    width: 200px;
    height: 100px;
    background: grey;
    color: white;
    font-size: 25px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 4px;
}

.setQ p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.setForward {
    background: Green;
}

.setBack {
    background: #AA0000;
}

.setRewatch {
    background: #2f82a8;
}

.clab { /* find out how to do this w/out pixel offset*/
    padding-left: 17px;
}

#slide {
    position: absolute;
    top: 190px;
    width: 200px;
    right: -200px;
    transition: right 0.4s ease-in-out;
}

#form-carousel {
    right: -220px;
}

#formA, #formB {
    text-align: center;
    line-height: 95px;
    color: #fcfcfc;
    font-size: 50px;
    width: 95px;
    height: 95px;
    display: inline-block;
    background: red;
}

#formA {
    background: #AA0000;
}

#formB {
    background: Green;
}
