#wrapper {
    position: relative;
    overflow: hidden;
}

.jumbotron {
    background: orange;
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.jumbotron > div {
    overflow: hidden;
}

#content-container {
    width: 960px;
    height: 720px;
    margin: 0 auto;
    text-align: center;
    padding: 0px;
    background: grey;
}

#content-container > p {
    font-size: 25px;
}

#mainPlayer {
    margin: 0 auto;
}

#set0 {
    
}

#studentProgress {
    float: left;
    background: blue;
    width: auto;
    height: 720px;
}

#slide {
    background: cyan;
    float: right;
    width: 200px;
    height: 720px;
}

.setQ {
    display: block;
    position: relative;
    top: 190px;
    width: 200px;
    height: 100px;
    background: grey;
    color: white;
    font-size: 25px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 4px;
}

.setQ p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.setForward {
    background: Green;
}

.setBack {
    background: #AA0000;
}

.setRewatch {
    background: #2f82a8;
}

#form-carousel {
    right: -220px;
}

#formA, #formB {
    text-align: center;
    line-height: 95px;
    color: #fcfcfc;
    font-size: 50px;
    width: 95px;
    height: 95px;
    display: inline-block;
    background: red;
}

#formA {
    background: #AA0000;
}

#formB {
    background: Green;
}
