#slhsVideoSelect {
}
#svs {
	top: 10%;
	position: absolute;
}
.header {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
.video {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
.footer {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}