body {
    background: #fcfcfc;
    width: 960px;
    height: 720px;
}

#stdscore {
    font-family: Lato,Open Sans, Verdana, Helvetica;
}

#graph {
    width: 955px;
    height: 425px;
    margin-top: 10px;
}

#ss {
    width: 1px;
    background: black;
    height: 425px;
    position:absolute;
    left: 604px;
    display: inline-block;
}

.marker {
    position: relative;
    display: in-line;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: black;
    top: 263px;
}

.r {
    background: red;
}

.mss {
    margin-bottom: 26px;
}

.mper {
    margin-bottom: 21px;
}

.lsd {
    display: inline-block;
    margin-left: -4px;
}

.rsd {
    display: inline-block;
    float: right;
    margin-right:-4px;
}

.csd {
    margin-left: -3px;
}

#sd {
    display: inline-block;
    background: transparent;
    height: 425px;
    position: absolute;
    border-left: 1px solid red;
    border-right: 1px solid red;
    width: 58px;
    left: 576px;
}

#sgpng {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #333;
    margin-left: -6px;
}
