
#quiz {
    float:left;
    clear: none;
}

#quiz label{
    float: left;
    clear: none;
    display: block;
    padding: 2px 1em 0 0;
}

input[type = radio],
input.radio {
    float:left;
    clear: none;
    margin: 2px 2px 0 2px;
}

.questionHeader {
    
    font-weight:bold;
    text-decoration:underline;
}

.chosenChoice {
    
    color: red;
}

.correctChoice {
    color: green;
}